body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F9F9F9; }

nav {
  background-color: #A6E4E7;
  color: black; }
  nav #btn-ul {
    margin-right: 10px; }
  nav .nav-wrapper a {
    color: black; }
  nav .nav-wrapper #backBtn {
    width: 210px;
    text-overflow: ellipsis; }

#main {
  flex: 1 0 auto; }
  #main #progress {
    display: none; }
  #main table tr {
    width: 100%; }
    #main table tr td.btnCol {
      margin-top: 5px;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 10px; }
    #main table tr td#cont {
      padding-bottom: 20px;
      margin-bottom: 5px; }
  #main table .table-btn {
    width: 250px;
    text-overflow: ellipsis;
    margin-right: 50px; }

.the-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content/Box */
  /* The Close Button */ }
  .the-modal .the-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s; }
    .the-modal .the-modal-content .the-modal-header {
      padding: 2px 16px;
      background-color: #A6E4E7;
      color: black; }
    .the-modal .the-modal-content .the-modal-body {
      padding: 2px 16px; }
  .the-modal #close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: grey; }
  .the-modal #close:hover,
  .the-modal #close:focus {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: black;
    text-decoration: none;
    cursor: pointer; }

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

ul li.collection-item {
  word-wrap: break-word; }
  ul li.collection-item .not-specified {
    color: grey;
    font-style: italic; }

.chip {
  cursor: pointer; }

input[type="text"] + label {
  pointer-events: none; }
  input[type="text"] + label * {
    pointer-events: all; }

footer.page-footer {
  background-color: #EBCBAE; }

.explanation {
  color: black; }

.copyright {
  width: 300px;
  margin: auto;
  text-align: center;
  color: black; }

.footer-brand {
  color: black; }

@media (max-width: 767px) {
  nav {
    height: 100px; }
    nav #btn-ul {
      position: relative;
      top: 40px;
      right: calc(50% - 105px);
      margin-right: 0px;
      margin-top: 2px; } }

@media (max-width: 992px) {
  #main table tr {
    border-bottom: 1px solid #bfbfbf; }
  #main table th {
    text-align: center; }
  #main table .table-btn {
    margin-right: 0px; }
  .page-footer .footer-col {
    text-align: center; } }

@media (min-width: 993px) and (max-width: 1366px) {
  #main .table-container {
    overflow: auto; } }
