$mainColor: rgba(243, 237, 216, 0.3);
$footerColor: #333333;
$navigationColor: #A6E4E7;


/*----------Navigation----------*/
nav {
	background-color: dimgrey;
	background-image: url(../assets/images/js-jumbo.png);
	background-size: cover;
	background-position-y: 15%;
	color: black;
	z-index: 1;
	.main-nav{
		height: 100px;
		.brand-logo{
			width: 230px;
			h1{
				display: inline-block;
				margin: 0;
				position: relative;
				left: 20px;
			}
		}
		.js-icon{
			position: relative;
			top: 23px;
		}
	}
	.nav-jumbo{
		color: white;
		margin-top: 200px;
		text-align: center;
		i{
			display: inline-block;
			font-size: 3em;
			margin-right: 5px;
			position: relative;
			top: 5px;
		}
		h2{
			display: inline-block;
		}
		width: 100%
	}


	#btn-ul{
		margin-right: 10px;
	}
	#backBtn{
		width: 210px;
		padding-left: 15px;
		padding-right: 15px;
		overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
	}
}

nav.index{
	-webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
	#btn-ul{
		display: none;
	}
}

nav.newpage{
	-webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition:  height12s east;
    transition: height 1s ease;
	.nav-jumbo{
		display: none;
	}
	#btn-ul{
		display: block;
	}
}

/*----------Main content----------*/
#main-content{
	flex: 1 0 auto;
}

#wrapper{
	height: 100%;
	width: 100%;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $mainColor;
}

a{
	outline-style: none;
}

/*----------Footer----------*/
.page-footer{
	padding-top: 0px;
	background-color: $footerColor;
	h5{
		display: inline-block;
	}
	h5[data-name='cdn']{
		position: relative;
		left: 7px;
	}
	h5[data-name='search-app']{
		position: relative;
		right: 7px;
	}
}

.icons-list{
	margin-bottom: 10px;
}
.footer-brand{
	.js-icon{
		position: relative;
		top: 14px;
		right: 3px;
	}
}

.contact-icon{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #4f9630;
	border-radius: 100%;
	margin: 10px;
}

.icons{
	position: relative;
	top: 10px;
}

.footer-copyright{
	background-color: #4f9630;
}

.copyright{
	width: 400px;
	margin: auto;
	text-align: center;
	color: white;
	a{
		color: white;
		text-decoration: underline;
	}
}

.footer-brand{
	color: white;
}

@media (max-width: 425px){
	nav.index{
		height: 250px;
		.nav-jumbo{
			position: relative;
			bottom: 177px;
			i{
				font-size: 1.8em;
			}
			h2{
				font-size: 1.8em;
			}
		}
		.brand-logo{
			h1{
				font-size: 1.5em;
			}
			.js-icon{
				width: 80px;
				height: 80px;
			}
		}
	}
	nav.index.responsive{
		height: 100px;
		.nav-jumbo{
			display: none;
		}
		.brand-logo{
			position: relative;
			bottom: 9px;
			h1{
				font-size: 1.2em;
				position: relative;
				top: 2px;
			}
			.js-icon{
				width: 70px;
				height: 70px;
			}
		}
	}
	nav.newpage{
		height: 155px;

		.brand-logo{
			position: relative;
			bottom: 9px;
			h1{
				font-size: 1.2em;
				position: relative;
				top: 2px;
			}
			.js-icon{
				width: 70px;
				height: 70px;
			}
		}
		#btn-ul{
			position: relative;
			bottom: 20px;
			right: calc(50% - 95px);
			margin-right: 0px;
			margin-top: 2px;
			#backBtn{
				width: 190px;
			}
		}
	}
}

@media (min-width: 420px) and (max-width: 425px){
	#btn-ul{
		position: relative;
		top: 73px;
	}
}

@media (min-width: 426px) and (max-width: 768px){
	nav.index{
		height: 350px;
		.nav-jumbo{
			position: relative;
			bottom: 140px;
			i{
				font-size: 2.2em;
			}
			h2{
				font-size: 2.2em;
			}
		}
		.brand-logo{
			h1{
				font-size: 1.8em;
				position: relative;
				bottom: 1px;
			}
			.js-icon{
				width: 90px;
				height: 90px;
			}
		}
	}
	nav.index.responsive{
		height: 135px;
		.nav-jumbo{
			display: none;
		}
		.brand-logo{
			h1{
				font-size: 1.7em;
				position: relative;
				top: 1px;
			}
			.js-icon{
				width: 85px;
				height: 85px;
			}
		}
	}
	nav.newpage{
		height: 165px;
		.brand-logo{
			position: relative;
			bottom: 15px;
			h1{
				font-size: 1.7em;
				position: relative;
				top: 1px;
			}
			.js-icon{
				width: 85px;
				height: 85px;
			}
		}
		#btn-ul{
			position: relative;
			top: 82px;
			right: calc(50% - 105px);
			margin-right: 0px;
			margin-top: 2px;
		}
	}
}

@media (min-width: 426px) and (max-width: 439px){
	nav.newpage{
		#btn-ul{
			position: relative;
			top: -30px;
		}
	}
}

@media (min-width: 769px){
	nav.newpage{
		height: 140px;
		.nav-jumbo{
			display: none;
		}
		#btn-ul{
			position: relative;
			top: 36px;
		}
	}
}

@media (min-width: 769px) and (max-width: 1024px){
	nav.index{
		height: 400px;
		.nav-jumbo{
			position: relative;
			bottom: 140px;
			i{
				font-size: 2.5em;
			}
			h2{
				font-size: 2.5em;
			}
		}
		
	}
	nav.index.responsive{
		height: 140px;
		.nav-jumbo{
			display: none;
		}
	}
}

@media (min-width: 1025px) and (max-width: 1366px){
	nav.index{
		height: 430px;
		.nav-jumbo{
			position: relative;
			bottom: 120px;
			i{
				font-size: 2.5em;
			}
			h2{
				font-size: 2.5em;
			}
		}
		
	}
	nav.index.responsive{
		height: 140px;
		.nav-jumbo{
			display: none;
		}
		
	}
}

@media (min-width: 1367px) and (max-width: 1600px){
	nav.index{
		height: 500px;
		.nav-jumbo{
			position: relative;
			bottom: 85px;
			i{
				font-size: 2.7em;
			}
			h2{
				font-size: 2.7em;
			}
		}
		
	}
	nav.index.responsive{
		height: 140px;
		.nav-jumbo{
			display: none;
		}
		
	}
}

@media (min-width: 1601px){
	nav.index{
		height: 650px;
		.nav-jumbo{
			position: relative;
			bottom: 35px;
		}
		
	}
	nav.index.responsive{
		height: 140px;
		.nav-jumbo{
			display: none;
		}
		
	}
}