<div id="wrapper">
	<nav>
		<!-- <div class="nav-wrapper" id="nav">
	    <a routerLink="/index" routerLinkActive="active" class="brand-logo center"><i class="material-icons">developer_mode</i>CDNjs</a>
	  	<ul class="right" id="btn-ul">
			<li>
				<button id="backBtn" class="btn">Back to search</button>
			</li>
		</ul>
	  </div> -->
		<div class="nav-wrapper" id="nav">
			<div class="main-nav">
				<a routerLink="/index" routerLinkActive="active" class="brand-logo center">
					<h1>CDN</h1>
					<img class="js-icon" src="../assets/images/js-icon.png" width="90px" height="90px">
				</a>
				<ul class="right" id="btn-ul">
					<li>
						<button id="backBtn" class="btn green darken-2">Back to search</button>
					</li>
				</ul>
			</div>
			<div class="nav-jumbo">
				<i class="large material-icons">search</i>
				<h2>Feel free to search</h2>
			</div>
	    	<!-- <a routerLink="/index" routerLinkActive="active" class="brand-logo center"><i class="material-icons">developer_mode</i>CDNjs</a> -->
	  	</div>
	</nav>

	<div id="main-content">
	  <router-outlet></router-outlet>
	</div>

	<footer class="page-footer">
	  <div class="container">
	      <div class="row">
	          	<div class="col s12 footer-col center" id="footerBrand">
	              	<a routerLink="/index" routerLinkActive="active" class="footer-brand">
	              		<span class="brand-move">
	              			<h5 data-name="cdn">CDN</h5> 
	              			<img class="js-icon" src="../assets/images/js-icon.png" width="45px" height="45px">
	              		</span>
	              		<span class="brand-static">
	              			<h5 data-name="search-app">search app</h5>
	              		</span>
	              	</a>
	          	</div>
	          	<div class="col s12 footer-col center icons-list" id="footerLinks">
	          		<span class="links-static">
	          			<a href="https://www.facebook.com/pages/Galanix-IT/698725300284621" target="_blank" class="contact-icon">
		              		<img class="icons" src="../assets/images/facebook-icon.png" width="10px" height="20px">
		              	</a>
		              	<a href="https://ua.linkedin.com/in/galanix-it-51bb2986" target="_blank" class="contact-icon">
		              		<img class="icons" src="../assets/images/linkedin-icon.png" width="20px" height="20px">
		              	</a>
	          		</span>
	          		<span class="links-move">
	          			<a href="https://github.com/galanix/cdnjs-typescript-searcher" target="_blank" class="contact-icon">
		              		<img class="icons" src="../assets/images/github-icon.png" width="18px" height="20px">
		              	</a>
	          		</span>
	          	</div>
	          	<div class="col s12 footer-col center" id="footerMotto">
	          		<span class="motto-move">
	          			<span>&nbsp;&nbsp; SEARCH &nbsp;&nbsp;</span>  |  
	          		</span>
	          		<span class="motto-static">
	          			<span>&nbsp;&nbsp; CHECK IT OUT &nbsp;&nbsp;</span>  |  
	          			<span>&nbsp;&nbsp; ENJOY &nbsp;&nbsp;</span>
	          		</span>
	          	</div>
	          <!-- <div class="col l4 offset-l2 s12 footer-col">

	              <br>
	              <a class="grey-text text-lighten-3 gh-link" href="https://github.com/galanix/cdnjs-typescript-searcher" target="_blank">
	                <img src="./assets/images/gh-icon.png" width="50" height="50">
	              </a>
	          </div> -->
	      </div>
	  </div>
	  <div class="footer-copyright">
	      <span class="copyright">
	      	© 2017 
	      	<a href="https://www.linkedin.com/in/vadym-hrynishyn-127406135/" target="_blank">Vadym Hrynishyn</a> - <br> 
	      	Front-end Trainee at Galanix IT. All rights reserved.
	      </span> 
	  </div>
	</footer>
</div>