<div id="myModal" class="the-modal">
  <!-- Modal content -->
  	<div class="the-modal-content">
    	<div class="the-modal-header">
      		<span id="close">&times;</span>
      		<h3></h3>
    	</div>
    	<div class="the-modal-body">
      		<ul class="collection with-header"></ul>
    	</div>
  	</div>
</div>

<div class="container" id="main">
	<div id="newDataHolder">
		<div class="preloader-wrapper big active center">
  		<div class="spinner-layer spinner-green-only">
  			<div class="circle-clipper left">
  		  	<div class="circle"></div>
  			</div>
  			<div class="gap-patch">
  		  	<div class="circle"></div>
  			</div><div class="circle-clipper right">
  		  	<div class="circle"></div>
  			</div>
  		</div>
  	</div>
	</div>
</div>